@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

button {
    cursor: pointer;
}

div {
    color: white;
}

body {
    padding-bottom: 50px;
}

/* CONTENT */

#content {
    padding-left: 15%;
}

/* INTRO */

#intro {
    padding-top: 20%;
}
#intro h2{
    margin-top: 5px;
}
#intro p{
    font-size: 20px;
    margin-top: 20px;
}

/* ABOUT */

#about {
    padding-top: 5%;
}

#about-content {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 200px;

}
#about-content p{
    max-width: 500px;
    font-size: 22px;
}

#picture{
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
}

/* EXPERIENCE */

#experience {
    padding-top: 5%;
}

.topics-box {
    padding-top: 20px;
    display: flex;
    gap: 50px;
}

.topics-box_topics {
    display: flex;
    flex-direction: column;
}

.topics-box_about {
    padding-top: 10px;
}

/* PROJECTS */

#projects {
    padding-top: 5%;
}