@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fredoka+One&display=swap');

:root{
    --fredoka: 'Fredoka One', cursive;
    --didact: 'Didact Gothic', sans-serif;

    --blue-darker: #09253f;
    --blue-dark: #18435A;
    --blue-bright: #DFEDF6;
    --green-bright: #64ffda;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: var(--didact);
    list-style-type: none;
}

body{
    background-color: var(--blue-darker);
    color: var(--blue-bright);
}

button {
    cursor: pointer;
}

body {
    padding-bottom: 50px;
}

/* INTRO */

#intro {
    position: absolute;
    top: 40%;
    right: 60%;
}

#intro h1{
    font-size: 60px;
    font-family: var(--fredoka);
    color: var(--green-bright);
}

#intro h2{
    margin-top: 5px;    
}

#intro_content{
    font-size: 20px;
    margin-top: 20px;
}

.contact-button{
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 75px;
    gap: 30px;
    outline: 20px;
    margin-top: 20px;
    font-size: 22px;

    border-style: solid;
    border-radius: 50px;
    border-color: var(--green-bright);

    cursor: pointer;
}

.contact-button:hover{
    transform: scale(1.1);
}

/* RIGHT CONTENT */

#content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 60%;
    width: 600px;
}

#content_top-nav li{
    cursor: pointer;
    font-size: 22px;
    padding-bottom: 10px;
}

#content_body{
    margin-top: 25px;
}

#content img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#content_top-nav ul{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--green-bright);
}
