@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fredoka+One&display=swap');

:root{
    --fredoka: 'Fredoka One', cursive;
    --didact: 'Didact Gothic', sans-serif;

    --blue-darker: #09253f;
    --blue-dark: #18435A;
    --blue-bright: #DFEDF6;
    --green-bright: #64ffda;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: var(--didact);
    list-style-type: none;    
}

body{
    background-color: var(--blue-darker);
    color: var(--blue-bright);
}

button {
    cursor: pointer;
}

#parent {
    display: flex;
    justify-content: center;
    gap: 25vw;
    margin-top: 25vh;
}

/* INTRO */

#intro {
    top: 40%;
    right: 60%;
    width: 22vw;
}

#intro h1{
    font-size: 60px;
    font-family: var(--fredoka);
    color: var(--green-bright);
}

#intro h2{
    margin-top: 5px;    
}

#intro_content{
    font-size: 20px;
    margin-top: 20px;    
}


.contact-button{
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 60px;
    gap: 10px;
    outline: 20px;
    margin-top: 20px;
    font-size: 24px;

    border-style: solid;
    border-radius: 50px;
    border-color: var(--green-bright);

    cursor: pointer;
}

.contact-button:hover{
    background-color: var(--blue-dark);
}

/* ----- RIGHT CONTENT ----- */

#content{
    display: flex;
    flex-direction: column;
    width: 600px;
}

#content_top-nav ul{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--green-bright);
}

#content_top-nav li{
    transition: 0.3s;
    cursor: pointer;
    font-size: 22px;
    padding-bottom: 10px;
    width: 200px;
    text-align: center;
}

#content_top-nav li:hover{
    transform: scale(1.1);
}

#content-body{
    margin-top: 25px;
    font-size: 20px;
}

#content-body h2{
    font-size: 36px;
    margin-bottom: 20px;
}


.topics-selector{
    transition: 0.5s;
    position: absolute;
    width: 200px;
    height: 10px;
    background-color: var(--green-bright);
    transform: translate(400px, 0);
}

.topics-box_about{
    margin-top: 10px;    
    font-size: 22px;
}

.topic_title{
    font-size: 26px;
}

.topics-box_topics {
    margin-bottom: 30px;
}

.topics-box_topics h3{
    font-size: 20px;
    font-weight: bolder;
}

/* EXPERIENCES */


/* Projects */

.links{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 30px;
}

.links img{
    transition: 0.3s;
    width: 30px;
    height: 30px;
}

.links img:hover{
    transform: scale(1.2);
}

/* ABOUT */

#about{
    font-size: 22px;
}

.social_links{
    text-align: center;
}

.social_links a {
    text-decoration:underline;
}

#picture{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    margin-top: 20px;   
    margin-left: auto;
    margin-right: auto;
}
